<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile2coder.dao.MOrderMapper">
    <resultMap id="BaseResultMap" type="com.smile2coder.model.MOrder">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_nickname" jdbcType="VARCHAR" property="userNickname"/>
        <result column="user_phone" jdbcType="CHAR" property="userPhone"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="user_address" jdbcType="VARCHAR" property="userAddress"/>
        <result column="actual_price" jdbcType="DECIMAL" property="actualPrice"/>
        <result column="pay_price" jdbcType="DECIMAL" property="payPrice"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time, update_time, status, user_id, user_nickname, user_phone, type, user_address,
    actual_price, pay_price
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from m_order
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.smile2coder.model.MOrder">
        insert into m_order (id, create_time, update_time,
                             status, user_id, user_nickname,
                             user_phone, type, user_address,
                             actual_price, pay_price)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                #{status,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER}, #{userNickname,jdbcType=VARCHAR},
                #{userPhone,jdbcType=CHAR}, #{type,jdbcType=TINYINT}, #{userAddress,jdbcType=VARCHAR},
                #{actualPrice,jdbcType=DECIMAL}, #{payPrice,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.smile2coder.model.MOrder">
        insert into m_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userNickname != null">
                user_nickname,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="userAddress != null">
                user_address,
            </if>
            <if test="actualPrice != null">
                actual_price,
            </if>
            <if test="payPrice != null">
                pay_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userNickname != null">
                #{userNickname,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=CHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="userAddress != null">
                #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="actualPrice != null">
                #{actualPrice,jdbcType=DECIMAL},
            </if>
            <if test="payPrice != null">
                #{payPrice,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smile2coder.model.MOrder">
        update m_order
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userNickname != null">
                user_nickname = #{userNickname,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=CHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="userAddress != null">
                user_address = #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="actualPrice != null">
                actual_price = #{actualPrice,jdbcType=DECIMAL},
            </if>
            <if test="payPrice != null">
                pay_price = #{payPrice,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smile2coder.model.MOrder">
        update m_order
        set create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            status        = #{status,jdbcType=TINYINT},
            user_id       = #{userId,jdbcType=INTEGER},
            user_nickname = #{userNickname,jdbcType=VARCHAR},
            user_phone    = #{userPhone,jdbcType=CHAR},
            type          = #{type,jdbcType=TINYINT},
            user_address  = #{userAddress,jdbcType=VARCHAR},
            actual_price  = #{actualPrice,jdbcType=DECIMAL},
            pay_price     = #{payPrice,jdbcType=DECIMAL}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectCountByUserIdAndGoodsId" resultType="int">
        select count(1) from m_order o left join m_order_goods og on o.id = og.order_id
        where o.user_id = #{userId} and og.goods_id = #{goodsId}
    </select>
</mapper>